@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .inter-font {
    font-family: "Inter", sans-serif;
  }

  .ce-toolbar__actions {
    background-color: #ffffff;
    border-radius: 5px;
    padding-right: 0px;
    z-index: 40;
  }

  .ce-toolbar__actions--opened {
    background-color: #ffffff;
  }

  .ce-inline-toolbar__toggler-and-button-wrapper {
    color: black;
    z-index: 40;
  }

  .ce-conversion-toolbar {
    color: black;
  }

  .ce-conversion-toolbar--showed {
    color: black;
  }

  .ce-paragraph {
    color: white;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #d1d1d1;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #b1b1b1;
  }

  ::-webkit-scrollbar:horizontal {
    height: 8px;
  }

  ::-webkit-scrollbar-thumb:horizontal {
    background: #d1d1d1;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:horizontal:hover {
    background: #b1b1b1;
  }

  .sandpack-custom-layout {
    flex-direction: column;
    height: 100%;
  }

}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
